html {
  box-sizing: border-box;
  font-family: sans-serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

/*
- *Typefaces:* `sans-serif`
- *Text sizes:* `1.125rem`
- *Line-heights:* `1.5`
- *Colours:* `#e2e2e2`, `#0074d9`, `#fff`
- *Margins:* `.5rem`
- *Paddings:* `1rem`, `.75em 1em .6em`
- *Image width:* `2rem`
*/

img {
  width: 100%;
}

body {
  margin: 0;
}

header {
  background-color: #e2e2e2;
  padding: 0;
  align-items: center;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
  padding: .75em 1em .6em;
  margin: 0;

  display: flex;
  justify-content: space-between;
}

header ul li a {
  margin: .5rem;
  font-size: 1.125rem;
  color: #0074d9;
  text-decoration: none;
  padding: .75em 1em .6em;
}

header h1 {
  margin: .5rem;
  padding: .75em 1em .6em;
}

header p {
  text-decoration: none;
  font-style: italic;
  font-size: 1.125rem;
}

header img {
  width: 2em;
  position: absolute;
  margin: .5rem;
  /* Margins:* `.5rem` */
  /* - *Paddings:* `1rem`, `.75em 1em .6em` */
}

header ul li a:hover {
  color: #0074d9;
  font-weight: normal;
  text-decoration: none;
  border-color: inherit;
  background-color: #e2e2e2;
}

nav a {
  text-decoration: none;
  border-color: inherit;
}
@media only screen and (min-width: 40em) {

  header {
    flex-direction: row;
    justify-content: space-between;
  }
}
