html {
    box-sizing: border-box;
    font-family: sans-serif;
    line-height: 1.5;
}

  *, *::before, *::after {
    box-sizing: inherit;
}

/*
- *Typefaces:* `sans-serif`
- *Text sizes:* `1.125rem`
- *Line-heights:* `1.5`
- *Colours:* `#e2e2e2`, `#0074d9`, `#fff`
- *Margins:* `.5rem`
- *Paddings:* `1rem`, `.75em 1em .6em`
- *Image width:* `2rem`
 */

img {
  width: 100%
}

body {
  margin: 0;
}

header {
  display: flex;
  background-color: #e2e2e2;
}

nav  ul {
  list-style-type: none;
  padding: 0;
  padding: .75em 1em .6em;

  display: flex;
  justify-content: space-between;
}

nav a {
  margin: 0.5rem;
  font-size: 1.125rem;
}

h1 {
  margin: 0;
  padding: 1rem;
}

header p {
  text-decoration: none;
  font-style: italic;
  font-size: 1.125rem;
  padding: .75em 1em .6em;
}

header img {
  width: 2em;
  margin-left: .5rem;
  align-items: auto;
}

@media only screen and (min-width: 40em) {

  header {
    flex-direction: row;
    justify-content: space-between;
  }
}
